In [1]:
import matplotlib.pyplot as plt
from matplotlib.offsetbox import AnnotationBbox, OffsetImage
from matplotlib._png import read_png
import pandas as pd
import numpy as np
import datetime

name = '2016-11-20'
df = pd.read_excel('/Users/mkudija/Desktop/Kudija_Chart/Data/'+name+'.xlsx')
df = df.fillna('')
print('Cycle Length: '+str(df.shape[0])+' days')
df.tail()

Cycle Length: 33 days

         Date Discharge Intercourse Sticker Peak
28 2016-12-18      4 AD
29 2016-12-19      2 X1
30 2016-12-20      2 AD
31 2016-12-21      4 AD
32 2016-12-22     2W AD

In [2]:
# DETERMINE STICKERS
for row in range(0,df.shape[0]):
    chart = df.ix[row,'Discharge']
    # Red
    if 'H' in chart or 'M' in chart or 'VL' in chart or 'B' in chart:
        df.ix[row,'Sticker'] = 'red'
    # Red (L = Light Flow, eliminating "with lubrication" modifier on 6/8/10)
    #if chart[0]=='L':
    #    print(chart[0])
    if 'L' in chart and '6' not in chart and '8' not in chart and '10' not in chart:
        df.ix[row,'Sticker'] = 'red'
    # Identify days with peak-type (10, K, L)
    if df.ix[row,'Sticker'] != 'red':
        if 'K' in chart or '10' in chart or ('L' in chart and ('2' in chart or '4' in chart or '6' in chart)):
            df.ix[row,'Peak'] = '*'

# Identify and mark peak days and count of 3
peaks = []
for row in range(0,df.shape[0]):
    # Identify peak days
    if df.ix[row,'Peak'] == '*' and df.ix[row+1,'Peak'] != '*':
        peaks.append(row)  
for peak in peaks:
    df.ix[peak,'Peak'] = 'P'
    df.ix[peak+1,'Peak'] = '1'
    df.ix[peak+2,'Peak'] = '2'
    df.ix[peak+3,'Peak'] = '3'

for row in range(0,df.shape[0]):
    chart = df.ix[row,'Discharge']
    peak = df.ix[row,'Peak']
    sticker = df.ix[row,'Sticker']
    if len(sticker)<1:
        if '0 ' in chart or '2 ' in chart or '2W ' in chart or '4 ' in chart:
            if peak == '1':
                df.ix[row,'Sticker'] = 'green_baby_1'
            elif peak == '2':
                df.ix[row,'Sticker'] = 'green_baby_2'
            elif peak == '3':
                df.ix[row,'Sticker'] = 'green_baby_3'
            else: 
                df.ix[row,'Sticker'] = 'green'
        else:
            if peak == '1':
                df.ix[row,'Sticker'] = 'white_baby_1'
            elif peak == '2':
                df.ix[row,'Sticker'] = 'white_baby_2'
            elif peak == '3':
                df.ix[row,'Sticker'] = 'white_baby_3'
            else:
                if peak=='P':
                    df.ix[row,'Sticker'] = 'white_baby_P'
                else:
                    df.ix[row,'Sticker'] = 'white_baby'

df['Record'] = df['Discharge']+' '+df['Intercourse']
#df.to_csv(name+'_data_stickers.csv')
df.head(36)

         Date Discharge Intercourse       Sticker Peak     Record
0  2016-11-20      H AP                       red           H AP
1  2016-11-21         H                       red              H
2  2016-11-22         M                       red              M
3  2016-11-23   L 6C X1              white_baby_P    P   L 6C X1
4  2016-11-24    VL 0AD                       red    1    VL 0AD
5  2016-11-25    VL 0AD                       red    2    VL 0AD
6  2016-11-26    VL 0AD                       red    3    VL 0AD
7  2016-11-27      0 AD                     green           0 AD
8  2016-11-28      4 X1                     green           4 X1
9  2016-11-29      4 AD                     green           4 AD
10 2016-11-30      4 X1                     green           4 X1
11 2016-12-01      0 AD                     green           0 AD
12 2016-12-02   10WL X1                white_baby    *   10WL X1
13 2016-12-03   10WL X1              white_baby_P    P   10WL X1
14 2016-12-04     2W X1              green_baby_1    1     2W X1
15 2016-12-05      4 X1              green_baby_2    2      4 X1
16 2016-12-06  10C/K X2              white_baby_3    3  10C/K X2
17 2016-12-07   10KL AD                white_baby    *   10KL AD
18 2016-12-08  10C/K AD                white_baby    *  10C/K AD
19 2016-12-09    10Y X2                white_baby    *    10Y X2
20 2016-12-10  10C/K X1                white_baby    *  10C/K X1
21 2016-12-11     8K X2                white_baby    *     8K X2
22 2016-12-12    10Y X1              white_baby_P    P    10Y X1
23 2016-12-13      4 AD              green_baby_1    1      4 AD
24 2016-12-14      4 AD              green_baby_2    2      4 AD
25 2016-12-15      4 AD              green_baby_3    3      4 AD
26 2016-12-16      4 AD                     green           4 AD
27 2016-12-17      4 AD                     green           4 AD
28 2016-12-18      4 AD                     green           4 AD
29 2016-12-19      2 X1                     green           2 X1
30 2016-12-20      2 AD                     green           2 AD
31 2016-12-21      4 AD                     green           4 AD
32 2016-12-22     2W AD                     green          2W AD

In [3]:
def plot_chart(df, name):
  
    # function to plot sticker images 
    def plot_image(x, y, path, zoom):
        arr_hand = read_png(path)
        imagebox = OffsetImage(arr_hand, zoom=zoom)
        xy = [x, y]
        ab = AnnotationBbox(imagebox, xy, xybox=(0, 0), xycoords='data', boxcoords="offset points", frameon=False)
        ax.add_artist(ab)
        
    # configure axes
    fig = plt.gcf()
    fig.clf()
    plt.figure(figsize=(7*5/2,3/2), dpi=150)
    ax = plt.subplot(111)
    ax.spines['right'].set_visible(False) # below lines remove top/right axes
    ax.spines['left'].set_visible(False) 
    ax.spines['bottom'].set_visible(False)
    ax.spines['top'].set_visible(False)
    plt.axis('off')

    # plot grid
    plt.text(6.5,.15,'BSE',ha='center',size=7,weight='bold')
    width1=.5
    width2=2.5
    for x in range(0,7*6+1):
        for y in range(0,4+1,2):
            if x % 7 == 0:
                plt.plot([x,x],[0,y],'-k',linewidth=width2)
            else:
                plt.plot([x,x],[0,y],'-k',linewidth=width1)
            
            if y % 4 ==0:
                plt.plot([0,x],[y,y],'-k',linewidth=width2)
            else: 
                plt.plot([0,x],[y,y],'-k',linewidth=width1)
        if x<42: plt.text(x+.5, 4.1, x+1,ha='center') # plot day number
        
    # plot day number, date, and observation text
    for row in range(0,df.shape[0]):
        date = df.ix[row,'Date']
        intercourse = df.ix[row,'Intercourse']
        discharge = df.ix[row,'Discharge']
        discharge = discharge.rstrip()
        plt.text(row+.5,1.5,str(date.month)+'/'+str(date.day),ha='center',name='Verdana',size=6)
        if 'I' in intercourse:
            if row==6: plt.text(row+.5,.5,intercourse,ha='center',name='Verdana',size=7)
            else: plt.text(row+.5,.1,intercourse,ha='center',name='Verdana',size=7)
        if len(discharge)<5:
            plt.text(row+.5,1,discharge,ha='center',name='Verdana',size=7)
        else: 
            space = discharge.find(' ')
            plt.text(row+.5,1,discharge[0:space],ha='center',name='Verdana',size=7)
            row2 = discharge[space+1:]
            if len(row2)<6:
                plt.text(row+.5,.55,row2,ha='center',name='Verdana',size=7)
            else:
                space = row2.find(' ')
                plt.text(row+.5,.55,row2[0:space],ha='center',name='Verdana',size=7)
                plt.text(row+.5,.35,row2[space:],ha='center',name='Verdana',size=7)
                    
        #call plot_image function
        sticker = str(df.ix[row,'Sticker'])
        path = 'Stickers/'+sticker+'.png'
        plot_image(row+.5, 2.95, path, .125)
 
    # save & show plot
    #plt.draw()
    plt.savefig('/Users/mkudija/Desktop/Kudija_Chart/Charts/'+name+'.png', dpi=150, bbox_inches='tight')
    #plt.show()

# -------------------------------------------------------
plot_chart(df, name)
print('Done.')

Done.